<% layout('layouts/boilerplate')%>
<div class="row">
  <h1 class="text-center">Adicionar Exercicio</h1>
  <div class="col-6 offset-3">
    <form
      action="/exercises"
      method="post"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Nome</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="name"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Descrição</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="descricao"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="grupoMuscular">Grupo Muscular</label>

        <select name="grupoMuscular" id="grupoMuscular">
          <option value="Peito">Peito</option>
          <option value="Costas">Costas</option>
          <option value="Bicep">Bicep</option>
          <option value="Tricep">Tricep</option>
          <option value="Ombros">Ombros</option>
          <option value="Gemeos">Gémeos</option>
          <option value="Quads">Quads</option>
          <option value="Hamstrings">Hamstrings</option>
          <option value="Abs">Abdominais</option>
        </select>
      </div>
      <div class="mb-3 form-file custom-file">
        <input
          type="file"
          class="form-file-input"
          id="image"
          name="image"
          multiple
        />
        <label class="form-file-label" for="image">
          <span class="form-file-text custom-file-label"
            >Adicionar mais imagens</span
          >
          <span class="form-file-button">Browse</span>
        </label>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Adicionar Exercicio</button>
      </div>
    </form>
    <a href="/exercises">Todos Exercicios</a>
  </div>
</div>
